<h2>Dashboard</h2>
<div id="stuff">
	<h4>Welcome <em>ADD NAME HERE</em></h4>

	{{#each stuff}}
	<p>{{ greeting }} {{ subject }}</p>
	{{/each}}

	<hr>
</div>

<br>
<div>
  <form action="/addarticle" method="post">

  <div class="form-group">
    <label>Title</label>
    <input name="name" type="name" class="form-control" id="title" placeholder="title">
  </div>
  <div class="form-group">
    <label>Summary</label>
    <input name="name" type="name" class="form-control" id="summary" placeholder="summary">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input name="name" type="name" class="form-control" id="date" placeholder="YYYY-MM-DD">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input name="name" type="name" class="form-control" id="author" placeholder="author">
  </div>
  <div class="form-group">
    <label>Image URL</label>
    <input name="name" type="name" class="form-control" id="image" placeholder="image URL">
  </div>

  <button class="btn btn-inverse btn-lg">Add New Article</button>

  </form>
</div>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Advanced TODO</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Create a article submission page (that the above button links to or shows)</li>
      <li>Save the contents of this to the articles.json "database" :)</li>
    </ul>
  </div>
</div>