<div class="jumbotron">
  <h1>The Next Phone</h1>
  <p><strong>Welcome to The Next Phone</strong>. Your first task is to decide on a theme (e.g. The Next Kitten, The Next SmartPhone, The Next Cool Thing) and begin adapting the name and content accordingly. Feel free to change the header color and icons too.</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">Know more</a></p>
</div>
<div class="row">
	<div class="col-md-4 article-0"></div>
	<div class="col-md-4 article-1"></div>
	<div class="col-md-4 article-2"></div>
</div>
